body{
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Poppins', sans-serif;
}

.hero-section{
    background-image: url(images/donation1.jpg);
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    min-height: 550px;
    text-align: center;
}
.hero-contents h1{
    padding-top: 150px;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 25px;
    color: white;

}
.hero-contents p{
   margin-bottom: 40px;
   font-size: 18px;
   color: white;
}
h1{
    font-weight: 700;
    margin: 0;
}
p {
    margin: 0;
}

.donate-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,red);
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
}
.donate-texts{
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
}

.donate-texts h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}
.donate-boxes{
    display: flex;
    margin-bottom: 30px;
}

.single-box{
    width: 100%;
    text-align: center;
    border: 1px solid lightgray;
    background-color: lightgray;
    margin-left: 10px;
    margin-right: 5px;
    padding: 60px 60px;
}

.red-box{
    color: tomato;
    border: 2px solid tomato;
}
.other-ammount{
    text-align: center;
}
.other{
    margin-bottom: 30px;
    text-align: center;
    padding: 10px;
    width: 80%;
    border-bottom: 2px solid gray;
}
.single-plan2{
    width: 50%;
    text-align: center;
    margin-left: 10px;
    padding: 20px 20px;
}

.single-plan2 img{
    height: 120px;
    width: 150px;
}
.plan-boxes{
    display: flex;
    margin-top: 30px;
}

.single-plan{
    width: 32%;
    text-align: left;
    margin-left: 10px;
    padding: 20px 20px;
}
.single-plan img{
    width: 100px;
    height: 80px;
}
#first{
    background-color: #EDF5F6;
}

#second{
    background-color: #FFEEEE;
}

#third{
    background-color: #FFF4D6;
}
.input-area{
    margin-top: 30px;
    text-align: center;
}

.email-input{
    width: 30%;
    padding: 12px;
    border-radius: 10px;
    background-color: lightgray;
}

#email-area{
    background-color: #FFEEEE;
    padding: 20px 80px;
}
footer{
    background-color: #0B0D17;
    min-height: 80px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer h1{
    color: #FF5959;
    font-weight: 700;
    font-style: italic;
}
footer p{
    margin-top: 30px;
    font-size: 14px;
    color: white;
}